/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;
  }
  body { margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url(https://i.natgeofe.com/k/5b396b5e-59e7-43a6-9448-708125549aa1/new-york-statue-of-liberty.jpg);
  }
